#twitter,
#logo-live-feedback,
#logo-elapse,
#states {
  display: none;
}

.slides section {
  background: transparent url(../../images/logo-elapse.png) no-repeat bottom right;
  background-size: 200px 56px;
}

body {
  background: #2b2b2b;
}
